:root {
    --font-small:'Heebo' , sans-serif;
    --font-big:'Inter' , sans-serif;
    --font-decor: 'Montserrat', sans-serif;
}

img {
  pointer-events: none;
}

.navbar {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    margin: 0 auto;
 }

 .logo {
    display: block;
    margin: 0 auto;
 }

 .description {
    margin: 30px auto;
    position: relative;
    text-align: center;
    font-size: 13px;
    background-color: #CF4023;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
  }

  .signature {
    margin: 30px auto;
    color: #CF4023;
    font-style: italic;;
    font-size: 12px;
    text-align: center;
    font-family: var(--font-small);
    margin-bottom: 10px;
  }
  

 .time {
    margin: 50px auto;
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-size: 13px;
    
 }

 .email {
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
    margin: 30px auto;
    position: relative;
    text-align: center;
    font-size: 13px;
    background-color: #CF4023;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    max-width: 800px;
 }

 .email a {
  color: #fff;
 }

.social-links, .work-links, .gallery-links {
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    border-radius: 33px;
    text-align: center;
}


.social-links:hover {
    background-color: #EE9966;
    border-radius: 100px;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.about-links {
  margin: 30px 0;
  color: black;
  text-decoration: none;
  font-size: 10px;
  padding: 10px;
  border-radius: 33px;
  text-align: center;
  }

.about-links:hover{
 background-color: black;
 color: #fff;
 border-radius: 40px;
 padding: 10px;
 }

.story {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-wiwin {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

header {
    max-width: 800px;
    display: block;
    margin: 10px auto;
    margin-top: 50px;
}

.home-scroll, .back-scroll {
  font-size: 30px;
  margin: auto 5px;
  color: #131314;
  bottom:5%;
  right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 .gallery{
display: block;
}

.cards-subpage {
  width: 300px;
  padding: 5px;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;

}

.subpage-img {
  display: flex;
  justify-content: space-evenly;
}

.cards {
  width: 300px;
  padding: 5px;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.cards * {
  box-sizing: border-box;
  transition: all 0.45s ease-in-out;
}

.cards:before,
.cards:after {
  background-color: #CF4023;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
  border-radius: 10px;
}

.cards img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.cards figcaption {
  font-family: var(--font-small);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.cards:hover:before,
.cards:hover:after {
  transform: scale(1);
  opacity: 1;
}

.cards:hover figcaption {
  opacity: 1;
}

figcaption a {
  text-decoration: none;
  color: #fff;
  border: #fff 1px solid;
  border-radius: 30px;
  padding: 7px 10px;
  font-size: 10px;
}

figcaption a:hover {
color: #131314;
}

.image-on-page {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.contact-link {
    max-width: 800px;
}

.small-title {
  text-align: center;
  margin: 5px auto;
  font-size: 10px;
  font-family: var(--font-small);
  text-decoration: none;
  background-color: #CF4023;
  color: #fff;
  padding: 5px;
}

.about {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.form {
    max-width: 800px;
}
  .contact {
    font-family: var(--font-big);
    font-size: 32px;
    letter-spacing: -1px;
    max-width: 800px;
    display: block;
    margin: 30px 0;
    text-align: left;
}

.contact-responsive { 
    display: none;
}

.send-btn[type="submit"] {
  border: none;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-right: 40px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #E29537;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease background-color;
}

.send-btn[type="submit"]:hover {
  color: #fff;
  background-color:  #CF4023;
  border: none;
  }

  .responsive-contact {
    display: none;
    background-color: none;
  }

/*Responsive styles*/
      

@media (max-width: 600px) {

    .logo-wiwin {
      width: 100px;
      padding: 10px;
      margin: 10px auto;
    }

    .main-about {
      display: flex;
      justify-content: center;
    }

    .responsive-contact {
      display: flex;
      justify-content: center;
      font-size: 12px;
      max-width: 360px;
      margin: 10px auto;
      position: relative;
      text-align: center;
      background-color: #CF4023;
      border-radius: 30px;
      color: #fff;
      font-weight: 500;
      padding: 5px;
      text-decoration: none;
    }

    .responsive-contact:hover, .responsive-contact:active  {
      background-color: darkred;
      color: #fff;
    }

    .email {
      display: none;
    }

    .form {
      display: none;
    }
    
}